.container {
  width: 80%;
  margin: 0 auto;
}
h2 {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: center;
}
.item {
  background-color: rgba(247, 237, 224, 0.708);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(247, 237, 224, 0.708);
  margin: 0 10px;
}

span.detail {
  /* font-size: 30px; */
}
